MCLaborClient/MCLaborClient/Service References/LaborService/LaborService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LaborService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://jhuff3-8460p.corp.educate.com/MCLaborServer/LaborService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://jhuff3-8460p.corp.educate.com/MCLaborServer/LaborService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://jhuff3-8460p.corp.educate.com/MCLaborServer/LaborService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MCLaborLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILaborService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ILaborService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_isValidLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidLogin" />
  </wsdl:message>
  <wsdl:message name="ILaborService_isValidLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployee" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getWorkSiteList_InputMessage">
    <wsdl:part name="parameters" element="tns:getWorkSiteList" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getWorkSiteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWorkSiteListResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getJobList_InputMessage">
    <wsdl:part name="parameters" element="tns:getJobList" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getJobList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJobListResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getLatestOpenTimeCard_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestOpenTimeCard" />
  </wsdl:message>
  <wsdl:message name="ILaborService_getLatestOpenTimeCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestOpenTimeCardResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_doClockOut_InputMessage">
    <wsdl:part name="parameters" element="tns:doClockOut" />
  </wsdl:message>
  <wsdl:message name="ILaborService_doClockOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:doClockOutResponse" />
  </wsdl:message>
  <wsdl:message name="ILaborService_doClockIn_InputMessage">
    <wsdl:part name="parameters" element="tns:doClockIn" />
  </wsdl:message>
  <wsdl:message name="ILaborService_doClockIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:doClockInResponse" />
  </wsdl:message>
  <wsdl:portType name="ILaborService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/GetMessage" message="tns:ILaborService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/GetMessageResponse" message="tns:ILaborService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/isValidLogin" message="tns:ILaborService_isValidLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/isValidLoginResponse" message="tns:ILaborService_isValidLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/getEmployee" message="tns:ILaborService_getEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/getEmployeeResponse" message="tns:ILaborService_getEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWorkSiteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/getWorkSiteList" message="tns:ILaborService_getWorkSiteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/getWorkSiteListResponse" message="tns:ILaborService_getWorkSiteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJobList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/getJobList" message="tns:ILaborService_getJobList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/getJobListResponse" message="tns:ILaborService_getJobList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestOpenTimeCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/getLatestOpenTimeCard" message="tns:ILaborService_getLatestOpenTimeCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/getLatestOpenTimeCardResponse" message="tns:ILaborService_getLatestOpenTimeCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doClockOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/doClockOut" message="tns:ILaborService_doClockOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/doClockOutResponse" message="tns:ILaborService_doClockOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doClockIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaborService/doClockIn" message="tns:ILaborService_doClockIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaborService/doClockInResponse" message="tns:ILaborService_doClockIn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILaborService" type="tns:ILaborService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/ILaborService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidLogin">
      <soap:operation soapAction="http://tempuri.org/ILaborService/isValidLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
      <soap:operation soapAction="http://tempuri.org/ILaborService/getEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkSiteList">
      <soap:operation soapAction="http://tempuri.org/ILaborService/getWorkSiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobList">
      <soap:operation soapAction="http://tempuri.org/ILaborService/getJobList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestOpenTimeCard">
      <soap:operation soapAction="http://tempuri.org/ILaborService/getLatestOpenTimeCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doClockOut">
      <soap:operation soapAction="http://tempuri.org/ILaborService/doClockOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doClockIn">
      <soap:operation soapAction="http://tempuri.org/ILaborService/doClockIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LaborService">
    <wsdl:port name="BasicHttpBinding_ILaborService" binding="tns:BasicHttpBinding_ILaborService">
      <soap:address location="http://jhuff3-8460p.corp.educate.com/MCLaborServer/LaborService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>