MCLaborClient/MCLaborClient/Service References/LaborService/LaborService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jhuff3-8460p.corp.educate.com/MCLaborServer/LaborService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MCLaborLib" />
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isValidLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="getEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkSiteList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWorkSiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="getWorkSiteListResult" nillable="true" type="q2:ArrayOfWorkSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="getJobListResult" nillable="true" type="q3:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestOpenTimeCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestOpenTimeCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="getLatestOpenTimeCardResult" nillable="true" type="q4:TimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doClockOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="tc" nillable="true" type="q5:TimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doClockOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="doClockIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MCLaborLib" minOccurs="0" name="tc" nillable="true" type="q6:TimeCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doClockInResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>